@import url('https://fonts.googleapis.com/css?family=Work+Sans:400|Lato:400|Inconsolata:400');
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f2f4f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

:root {
  /* colors */
  --green: #00ebc7;
  --red: #FF5470;
  --yellow: #fde24f;
  --black: #1b2d45;
  --darkBlue: #00214d;
  --darkGrey: #222;
  --grey: #bfbfbf;
  --lightGrey: #f2f4f6;
  --white: white;

  /* color intentions */
  --primary: var(--yellow);
  --danger: var(--red);
  --background: var(--lightGrey);
  --textColor: var(--black);
  --lineColor: var(--grey);
  --cardBg: var(--white);
  --headerBackground: var(--white);
  --footerBackground: var(--darkBlue);
  --footerTextColor: var(--lightGrey);
  --headerTextColor: var(--black);
  --buttonColor: var(--primary);
  --buttonTextColor: var(--textColor);
  --borderBottom: solid 2px var(--primary);



  /* Styles */
  --line: solid 1px var(--lineColor);

  /* Typography */
  --headingFont: 'Lato', monospace;
  --bodyFont: 'Inconsolata', sans-serif;
  --baseFontSize: 100%;
  /* font sizes */
  --h1: 3.052em;
  --h2: 2.441em;
  --h3: 1.953em;
  --h4: 1.563em;
  --h5: 1.25em;
  --smallText: 0.8em;

  /* Elevation 1: base, 4: xl*/
  --shadow-s: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);

  /* Positioning */
  --containerPadding: 2.5%;
  --headerHeight: 3rem;
  /* --borderRadius: 10px; */
  --borderRadius: 0px;

  /* Media Queries (not supported yet) */
  /* --xsmall: 340;
  --small: 500px;
  --med: 800;
  --large: 960;
  --wide: 1200; */

  }

  html {
    box-sizing: border-box;
    font-size: var(--baseFontSize);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


body {
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  background: var(--background);
  color: var(--textColor);
}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: var(--h1);
}

h2 {font-size: var(--h2);}

h3 {font-size: var(--h3);}

h4 {font-size: var(--h4);}

h5 {font-size: var(--h5);}

small, .text_small {font-size: var(--smallText);}

